form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

span {
    margin-bottom: 0.5rem;
}

input[type="file"] {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
}

div[key] {
    color: red;
    margin-bottom: 1rem;
}
