.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: auto;
    max-width: 500px;
    margin-top: 89px;
    background-color: lightgray;
    border-radius: 10px;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 60%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #7AEB7A;
    color: #650202;
    cursor: pointer;
    font-weight: bold;
}

@media (min-width: 700px) {
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .app {
        width: 60%;
        padding: 60px;
    }

    input[type="email"],
    input[type="password"] {
        width: 70%;
    }
}
