.nav {
    background-color: #7aeb7a !important;
}

.navbar-nav a {
    color: #650202;
    font-size: 16px;
    text-decoration: none;
    padding-right: 20px;
    text-align: center;
}

.navbar-nav a:hover {
    color: #007bff;
    text-align: center;
}

.nav-link {
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    color: #650202 !important;
    text-align: center;
}

.nav-link:hover {
    color: #007bff !important;
}
